# Ignore original and changed image directories and coordinate files
Images/Original/
Images/Changed/
Images/diff_coords.json
Images/diff_coords.js

# Ignore Python caches and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# System specific files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
.DS_Store
.vscode/
.idea/
